{
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "importOrder": [
    "^react(.*)$",
    "^next(.*)$",
    "^@redux(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@components/(.*)$",
    "^@utils/(.*)$",
    "^@hooks/(.*)$",
    "^@constants/(.*)$",
    "^[./]"
  ]
}
